<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dylan.licence.mapper.UserMapper">
    <resultMap id="systemUserMap" type="com.dylan.licence.entity.User">
    </resultMap>

    <sql id="TableField">
        id
        , user_name, user_phone, user_password, user_group, user_type, created_at, updated_at, del_flag
    </sql>

    <sql id="TableName">
        `lgc_user`
    </sql>

    <select id="selectUserList" resultMap="systemUserMap">
        SELECT
        <include refid="TableField"/>
        FROM
        <include refid="TableName"/>
        limit #{myPage.startNo}, #{myPage.pageSize}
    </select>

    <select id="selectUserTotal" resultType="java.lang.Long">
        SELECT
        count(*)
        FROM
        <include refid="TableName"/>
        WHERE del_flag = 0
    </select>

    <select id="getRoleIdFromGroup" resultType="java.lang.Integer">
        select lgc_group.group_role
        from lgc_group
        WHERE id = (select lgc_user.user_group
                    from lgc_user
                    WHERE id = #{id});
    </select>

    <select id="getAllRole4User" resultType="java.lang.Integer">
        select user_role.role_id
        from `user_role`
        where user_role.user_id = #{id}
          and user_role.del_flag = 0

        UNION

        select lgc_group.group_role
        from lgc_group
        WHERE lgc_group.id = (select lgc_user.user_group from lgc_user WHERE lgc_user.id = #{id})
          and lgc_group.del_flag = 0;
    </select>

    <select id="getUserNameId" resultType="com.dylan.licence.model.UserNameIdModel">
        select user_name, id  from <include refid="TableName" /> where del_flag = 0
        <choose>
            <when test="list != null and list.size > 0">
                and user_name in
                <foreach collection="list" item="userName" index="" open="(" close=")" separator=",">
                    #{userName}
                </foreach>
            </when>
            <otherwise>
                and 1 = 2;
            </otherwise>
        </choose>
    </select>

    <update id="logicalDeletionById">
        update
        <include refid="TableName"/>
        set
        `del_flag` = 1
        where
        `id` = #{id}
    </update>
</mapper>