<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dylan.chat.mapper.TeamExtMapper">
    <resultMap id="teamExtMap" type="com.dylan.chat.entity.TeamExtEntity">
    </resultMap>

    <sql id="Table_Fields">
        id, team_id, del_flag
    </sql>

    <sql id="Table_Name">
        `lgc_talk_team_ext`
    </sql>

</mapper>