<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dylan.blog.mapper.FileStorageMapper">

    <resultMap type="com.dylan.file.entity.FileStorage" id="FileUploadMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="uploadInfo" column="upload_info" jdbcType="VARCHAR"/>
        <result property="fileName" column="file_name" jdbcType="VARCHAR"/>
        <result property="fileUri" column="file_uri" jdbcType="VARCHAR"/>
        <result property="hash" column="hash" jdbcType="VARCHAR"/>
        <result property="fileSize" column="file_size" jdbcType="BIGINT"/>
        <result property="bucket" column="bucket" jdbcType="VARCHAR"/>
        <result property="delFlag" column="del_flag" jdbcType="TINYINT"/>
        <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
        <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>


    <insert id="insertStorages" parameterType="java.util.List">
        INSERT INTO im_active_chat_detail
        (`type`,`upload_info`,`file_name`,`file_uri`,`hash`,`file_size`,`bucket`)
        VALUES
        <foreach collection="fileStorageModels" item="model" separator=",">
           ( #{model.type},#{model.uploadInfo},#{model.fileName},#{model.fileUri},#{model.hash},#{model.fileSize},#{model.bucket} )
        </foreach>
    </insert>


</mapper>